<div class="jumbotron text-center">
  <h1 class="display-4">Microsoft Auth login with Ruby on Rails</h1>
  <p class="lead">This sample app lets you login from the configured tenant.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-md" href="#" role="button">Click here to sign in</a>
</div>
